
.embla {
      max-width: 100%;
  margin: auto;
    --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}


.embla_slide {
     transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla_viewport {
  overflow: hidden;
}

.embla_container {
  display: flex;
  touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);

}

.embla_controls {
  display: flex;
  justify-content: end;
}
