.ai_chat_brand_video {
  overflow: hidden;
  height: 640px;
  width: 100%;
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
}

.ai_grid {
  border-right: thin solid var(--mantine-color-default-border);
  border-left: thin solid var(--mantine-color-default-border);
  overflow: hidden;
}

.ai_chat_features_display {
  background-color: hsla(259.4117647058824, 100%, 63%, 1);
  background-image: radial-gradient(
      circle at 15% 85%,
      hsla(318, 80%, 97%, 1) 19%,
      transparent 84%
    ),
    radial-gradient(
      circle at 31% 1%,
      hsla(161.47058823529412, 99%, 84%, 1) 12%,
      transparent 85%
    ),
    radial-gradient(
      circle at 88% 87%,
      hsla(163, 90%, 78%, 1) 3.6400864520532363%,
      transparent 75.20902830975928%
    ),
    radial-gradient(
      circle at 30% 27%,
      hsla(314, 91%, 59%, 1) 14%,
      transparent 90%
    );
  background-blend-mode: normal, normal, normal, normal;
}

.ai_text_cont {
  display: flex;
  padding-block: 50px;
  padding-inline: var(--mantine-spacing-md);
  justify-content: center;
  /* border-right: thin solid var(--mantine-color-default-border); */

  @media (max-width: $mantine-breakpoint-sm) {
    border-right: none;
  }
}

.ai_chat_text_box {
  position: absolute;
  padding: var(--mantine-spacing-lg);
  bottom: 0;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
  }
}

.ai_vector_search_display,
.ai_chat_display {
  aspect-ratio: 4/4;
  height: 500px;
  width: 100%;
  position: relative;
}

.ai_vector_search_display {
  border-right: thin solid var(--mantine-color-default-border);

  @media (max-width: $mantine-breakpoint-sm) {
    border-right: none;
    border-bottom: thin solid var(--mantine-color-default-border);
  }
}

.ai_accordion_container {
  aspect-ratio: 4/4;
  height: 500px;
  width: 100%;
  padding: var(--mantine-spacing-md);
  justify-content: center;
  display: flex;
  align-items: center;
  
}


.semantic_canvas_box {
  width: 100%;
  height:100%;
  --mask-bottom : linear-gradient(180deg, #000 10%, transparent 65%);
    -webkit-mask-image:var(--mask-bottom) ;
  mask-image: var(--mask-bottom);
}