.graphics1_wrapper {
  height: 500px;
  width: 100%;
  border: thin solid var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-md);
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  margin-top: 100px;
  overflow-block: clip;
  overflow-clip-margin: 100px;
}

.graphics1_container {
  position: absolute;
  max-width: 90%;
  width: 100%;
  height: 600px;
  bottom: 0px;
  background-color: var(--mantine-color-dark-9);
  border: inherit;
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
  border-bottom: none;
  /* box-shadow: var(--mantine-shadow-sm); */
  margin-top: 200px;
  background-color: rgba(20, 20, 20, 0.083);
  backdrop-filter: blur(14px);

}


.graphics1_content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;

}

.graphics1_content::before {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: inherit;
  height: 100%;
  /* backdrop-filter: blur(20px); */
  box-shadow: var(--mantine-shadow-md);
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.graphics2_wrapper {
  height: 100%;
  --base-x: 10%;
  --base-z: 180px;
  --y: 0;
  --c: 40;
  --z: 0;
  /* aspect-ratio: 332 / 320; */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
  contain: strict;
  isolation: isolate;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  --green: #68cc58;
  --green-dim: #68cc5840;
  --orange: #f2994a;
  --orange-dim: #f2994a40;
  --red: #c52828;
  --red-dim: #c5282840;
}


.graphics2_wrapper::after {
  content: "";
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  inset: 0;
  z-index: 1;
  background: linear-gradient(to bottom, darken(var(--mantine-color-dark-9), 0.07) 0, transparent 30%), linear-gradient(to right, transparent 60%, darken(var(--mantine-color-dark-9), 0.07) 100%);
}

.graphics2_account_cards_cont {
  width: 100%;
  height: 100%;
  perspective: 2000px;
  perspective-origin: 50%;
  overflow: hidden;
  position: relative;
}

.graphics2_account_card {
  position: absolute;
  inset: 0;
  margin: auto;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  isolation: isolate;
  contain: paint;
  overflow: hidden;
  white-space: nowrap;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: var(--mantine-radius-md);
  border: thin solid var(--mantine-color-dark-7);
  padding: 16px;
  background-color: rgba(41, 41, 41, 0.182);
}

.graphics2_wrapper .graphics2_account_card {
  transform-style: preserve-3d;
  transition: .32s ease-out;
  transition-property: transform, background;
  box-shadow: var(--mantine-shadow-md);
  /* box-shadow: rgba(38, 38, 38, 0.2) 0px 8px 24px; */
}

.graphics2_wrapper .graphics2_account_card:last-child {
  transform: translateY(35px);
}

.graphics2_wrapper .graphics2_account_card:nth-child(2) {
  transform: translateX(30px) translateZ(10px);
}

.graphics2_wrapper .graphics2_account_card:first-child {
  transform: translateY(-35px) translateX(60px) translateZ(20px);
}

/* .graphics2_account_card:first-child:hover{
    transform: translateY(-50px) translateX(60px) translateZ(25px);
} */

.graphics3_wrapper {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  --mask-bottom: linear-gradient(to bottom, #000 30%, #00000000 80%);
  --mask-right: linear-gradient(to right, #000 40%, #00000000 90%);
  -webkit-mask-image: var(--mask-bottom), var(--mask-right);
  mask-image: var(--mask-bottom), var(--mask-right);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.graphics3_analytics_card_outer {
  --gradientBorder-size: 1px;
  --gradientBorder-gradient: linear-gradient(to bottom right, hsla(0, 0%, 100%, .07), transparent);
  width: 100%;
  height: 100%;
  border-radius: 18px;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.graphics3_analytics_card_outer::before {
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  padding: var(--gradientBorder-size, 1px);
  background: var(--gradientBorder-gradient);
  -webkit-mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.graphics3_analytics_card_inner {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  --gradientBorder-size: 1px;
  --gradientBorder-gradient: linear-gradient(to bottom right, hsla(0, 0%, 80%, .17), transparent);
  background: linear-gradient(134deg, hsla(0, 0%, 100%, .08), hsla(0, 0%, 100%, .02), hsla(0, 0%, 100%, 0) 55%);
  border-radius: 10px;
  height: 100%;
  padding: var(--mantine-spacing-sm);
}

.graphics3_analytics_card_inner::before {
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  padding: var(--gradientBorder-size, 1px);
  background: var(--gradientBorder-gradient);
  -webkit-mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


.graphics3_analytics_alert_cont {
  width: 100%;
  background-color: rgba(41, 41, 41, 0.182);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
  backdrop-filter: blur(5px);
  z-index: 3;
  padding: calc(var(--mantine-spacing-xs) - 4px);
}

.accounts_card_expanded_cont {
  background-color: #00000050;
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100dvh;
  position: fixed;
  inset: 0;
  z-index: 100;
}

.graphics3_analytics_alert_content {
  padding: var(--mantine-spacing-xs);
  background: linear-gradient(134deg, var(--mantine-color-dark-5), var(--mantine-color-dark-7), var(--mantine-color-dark-8) 55%);
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-xs);
}

.accounts_card_expanded {
  position: fixed;
  inset: 5vh 0 0 0;
  margin-inline: auto;
  max-width: 960px;
  background: var(--mantine-color-black);
  z-index: 10;
  border-radius: 30px 30px 0 0;
  outline: none;
  contain: strict;
  isolation: isolate;
  pointer-events: auto;
  transform: none;
  transform-origin: 50% 50% 0px;
  box-shadow: var(--mantine-shadow-lg);
}

.accounts_card_shrinked {
  width: 336px;
  aspect-ratio: 336 / 430;
  background-color: darken(var(--mantine-color-dark-9), 0.29);
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-lg);
}

.accounts_card_shrinked:hover {
  filter: brightness(120%);
}