.networth_box_blur {
  max-width: 800px;
  width: 100%;
  /* height: 300px; */
  border: thin solid var(--mantine-color-default-border);
  margin-inline: auto;
  border-radius: var(--mantine-radius-md);
  background-color: rgba(40, 40, 40, 0.02);
  backdrop-filter: blur(15px);
  box-shadow: var(--mantine-shadow-md);
  position: relative;
}

.networth_box_blur:hover {
  background: hsla(0, 0%, 100%, 0.01);

}

.cont {
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: nowrap;
  align-items: center;
  gap: var(--mantine-spacing-xl);
}

.behind_text {
  font-size: 50px;
  font-weight: bold;

}

.controls {
  position: absolute;
  top: 0;
  z-index: 5;
  right: 0;
  padding: var(--mantine-spacing-md);
}

.networth_content {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;
  padding: var(--mantine-spacing-md);
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

/* .networth_content h1 {
    font-size: 40px;
    line-height: 1px;
} */

.networth_content::before {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: inherit;
  height: 100%;
  /* background-color: rgba(170, 170, 170, 0.027); */
  backdrop-filter: blur(30px);
  box-shadow: var(--mantine-shadow-md);
  inset: 0;
  z-index: 2;

}


.translucent_bg {
  width: 100%;
  /* background: rgba(255, 255, 255, 0.031); */
  backdrop-filter: blur(15px);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.122) 50%, transparent 50%),
    linear-gradient(rgba(255, 255, 255, 0.085) 50%, transparent 50%);
  background-size: 3px 3px;
  backdrop-filter: contrast(190%);
  border-radius: var(--mantine-radius-sm);
}

.hero_image_products {
  width: 100%;
  /* background-color: var(--mantine-color-indigo-7); */
  background-color: #617C8C;
  box-shadow: var(--mantine-shadow-md);
  height: 100%;
  border-radius: var(--mantine-radius-sm) 0 0 var(--mantine-radius-sm);
}

.hero_image_ai {
  box-shadow: var(--mantine-shadow-md);

  width: 100%;
  height: 100%;
  /* background-color: var(--mantine-color-dark-9); */
  background-color: #2D404E;
  background-image: linear-gradient(to right, #2D404E, darken(#2D404E, 0.5));
}

.gradient {
  width: 100%;
  height: 100%;
  /* border: thin solid var(--mantine-color-default-border); */
  border-radius: var(--mantine-radius-md);
  --y-0: 90%;
  --x-0: 91%;
  --c-0: hsla(97, 2%, 11%, 1);
  --c-1: rgb(150, 183, 21);
  --x-1: 17%;
  --y-1: 24%;
  --x-2: 11%;
  --y-2: 32%;
  --c-2: hsla(248, 37%, 20%, 1);
  --y-3: 31%;
  --c-3: var(--mantine-color-yellow-5);
  --x-3: 2%;
  --c-4: hsla(349, 0%, 0%, 1);
  --x-4: 74%;
  --y-4: 93%;
  ;
  background-color: rgb(33, 33, 33);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;
  overflow: hidden;
}


.translucent_cont {
  display: flex;
  width: 100%;
  position: relative;
}

.gradient {
  position: absolute;
  z-index: 0;
}


@keyframes hero-gradient-animation {
  0% {
    --y-0: 90%;
    --x-0: 91%;
    --c-0: hsla(97, 2%, 11%, 1);
    --s-start-0: 1%;
    --s-end-0: 61%;
    --s-start-1: 0%;
    --s-end-1: 55%;
    --c-1: hsla(75, 0%, 0%, 1);
    --x-1: 17%;
    --y-1: 24%;
    --x-2: 11%;
    --s-start-2: 19%;
    --s-end-2: 54%;
    --y-2: 32%;
    --c-2: rgb(99, 88, 174);
    --y-3: 31%;
    --c-3: var(--mantine-color-grape-5);
    --x-3: 2%;
    --s-start-3: 0%;
    --s-end-3: 67%;
    --s-start-4: 12%;
    --s-end-4: 82%;
    --c-4: hsla(349, 0%, 0%, 1);
    --x-4: 74%;
    --y-4: 93%;
  }

  10% {
    --y-0: 25%;
    --x-0: 49%;
    --c-0: hsla(313, 0%, 0%, 1);
    --s-start-0: 19%;
    --s-end-0: 69%;
    --s-start-1: 3%;
    --s-end-1: 77%;
    --c-1: hsla(242, 88%, 22%, 1);
    --x-1: 1%;
    --y-1: 41%;
    --x-2: 44%;
    --s-start-2: 6%;
    --s-end-2: 73%;
    --y-2: 93%;
    --c-2: hsla(321, 0%, 0%, 1);
    --y-3: 51%;
    --c-3: hsla(0, 0%, 0%, 1);
    --x-3: 97%;
    --s-start-3: 8%;
    --s-end-3: 86%;
    --s-start-4: 20%;
    --s-end-4: 75%;
    --c-4: hsla(172, 95%, 37%, 1);
    --x-4: 10%;
    --y-4: 69%;
  }
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 90%
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 91%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(97, 2%, 11%, 1)
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 61%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 55%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(75, 0%, 0%, 1)
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 17%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 24%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 11%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 19%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 54%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 32%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(248, 37%, 20%, 1)
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 31%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(254, 100%, 52%, 1)
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 2%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 67%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 12%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 82%
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(349, 0%, 0%, 1)
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 74%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 93%
}


.graphics_display_sidebar {
  width: 100%;
  /* background-color: #2D404E; */
  border-right: thin solid var(--mantine-color-dark-7);
  height: 100%;
}

.graphics_display_h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradient_cover {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, var(--mantine-color-dark-9) 10% 0%, transparent 40% 10%);
  position: absolute;
  z-index: 2;
  /* backdrop-filter: blur(10px); */
}

@keyframes text-gradient-animation {
  0% {
    --c-0: hsla(1, 100%, 64%, 1);
    --s-start-0: 17%;
    --s-end-0: 63%;
    --x-0: 90%;
    --y-0: 84%;
    --s-start-1: 7%;
    --s-end-1: 74%;
    --x-1: 55%;
    --y-1: 93%;
    --c-1: hsla(34, 100%, 60%, 1);
    --x-2: 47%;
    --c-2: hsla(322, 71%, 78%, 1);
    --y-2: 92%;
    --s-start-2: 8%;
    --s-end-2: 63%;
    --s-start-3: 8%;
    --s-end-3: 88%;
    --c-3: hsla(255, 76%, 55%, 1);
    --x-3: 57%;
    --y-3: 0%;
    --y-4: 54%;
    --s-start-4: 10%;
    --s-end-4: 68%;
    --x-4: 1%;
    --c-4: hsla(328, 74%, 65%, 1);
  }

  10% {
    --c-0: hsla(309, 51%, 94%, 1);
    --s-start-0: 5%;
    --s-end-0: 57%;
    --x-0: 97%;
    --y-0: 83%;
    --s-start-1: 15%;
    --s-end-1: 88%;
    --x-1: 52%;
    --y-1: 84%;
    --c-1: hsla(296, 58%, 62%, 1);
    --x-2: 80%;
    --c-2: hsla(356, 73%, 91%, 1);
    --y-2: 5%;
    --s-start-2: 5%;
    --s-end-2: 84%;
    --s-start-3: 10%;
    --s-end-3: 72%;
    --c-3: hsla(353, 81%, 59%, 1);
    --x-3: 5%;
    --y-3: 23%;
    --y-4: 32%;
    --s-start-4: 16%;
    --s-end-4: 60%;
    --x-4: 79%;
    --c-4: hsla(326, 97%, 89%, 1);
  }
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(1, 100%, 64%, 1)
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 17%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 63%
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 90%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 84%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 7%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 74%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 55%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 93%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(34, 100%, 60%, 1)
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 47%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(322, 71%, 78%, 1)
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 92%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 63%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 88%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(255, 76%, 55%, 1)
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 57%
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 54%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1%
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(328, 74%, 65%, 1)
}

.graphics_display_h1 {
  --c-0: hsla(1, 100%, 64%, 1);
  --x-0: 90%;
  --y-0: 84%;
  --x-1: 55%;
  --y-1: 93%;
  --c-1: hsla(34, 100%, 60%, 1);
  --x-2: 47%;
  --c-2: hsla(322, 71%, 78%, 1);
  --y-2: 92%;
  --c-3: hsla(255, 76%, 55%, 1);
  --x-3: 57%;
  --y-3: 0%;
  --y-4: 54%;
  --x-4: 1%;
  --c-4: hsla(328, 74%, 65%, 1);
  ;
  background-color: hsla(26, 79%, 79%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: text-gradient-animation 5s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;
}