.ai_portfolio_features {
  border: thin solid var(--mantine-color-default-border);
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  cursor: pointer;
}

.ai_portfolio_display {
  /* border: thin solid var(--mantine-color-default-border); */
  background-color: hsla(213.08823529411762, 0%, 93%, 1);
  background-image: radial-gradient(
      circle at 83% 22%,
      hsla(35.735294117647136, 82%, 87%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 0% 50%,
      hsla(194.5588235294118, 37%, 91%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 21% 21%,
      hsla(27.999999999999577, 0%, 86%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 54% 77%,
      hsla(193.2352941176474, 100%, 95%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 30% 75%,
      hsla(197.87234042553195, 25%, 35%, 1) 0%,
      transparent 50%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  border-radius: var(--mantine-radius-lg);
}

.portfolio_trigger_node {
  width: 100%;
  border: thin solid var(--mantine-color-default-border);
  padding: 5px;
  border-radius: var(--mantine-radius-md);
  border-top-left-radius: 0px;
  height: fit-content;
  position: relative;
  cursor: pointer;
  max-width: 280px;
}

.portfolio_trigger_node:before {
  content: attr(data-is);
  position: absolute;
  top: -17px;
  left: -1px;
  background-color: var(--mantine-color-gray-2);
  width: 50px;
  font-size: 10px;
  border-radius: 5px 5px 0 0;
  height: fit-content;
  display: flex;
  justify-content: start;
  padding-inline: 4px;
  font-weight: bold;
  color: var(--mantine-color-gray-6);
}

.portfolio_automation_cont {
  padding: var(--mantine-spacing-xs);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.portfolio_trigger_handle {
  position: absolute;
  bottom: 3;
  right: 50%;
}

.portfolio_trigger_arrow {
  position: absolute;
  bottom: -62px;
  left: 124px;
}

.portfolio_alert_node {
  border: thin solid var(--mantine-color-teal-filled);
  margin-top: 62px;
  max-width: 280px;
    padding: 5px;
  border-radius: var(--mantine-radius-md);
    width: 100%;

}
