.send_transfer_ui_wrapper {
  background-color: rgb(255, 255, 254);
  background-image: radial-gradient(
      circle at 92% 93%,
      hsla(190, 56%, 91%, 0.53) 11%,
      transparent 79%
    ),
    radial-gradient(
      circle at 24% 86%,
      hsla(13, 52%, 90%, 1) 16%,
      transparent 83%
    ),
    radial-gradient(
      circle at 11% 94%,
      hsla(43, 55%, 90%, 1) 16%,
      transparent 51%
    ),
    radial-gradient(
      circle at 36% 38%,
      hsla(81, 82%, 98%, 1) 3%,
      transparent 59%
    ),
    radial-gradient(
      circle at 44% 9%,
      hsla(252.79411764705875, 81%, 51%, 0.48) 13%,
      transparent 83%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  overflow: hidden;
  position: relative;
  border-radius: var(--mantine-radius-md);
}

.send_transfer_intro {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send_transfer_ui_title {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: hsla(197, 92%, 60%, 1);
  background-image: radial-gradient(
      circle at 96% 96%,
      hsla(55.36363636363636, 93%, 54%, 0.85) 5%,
      transparent 86%
    ),
    radial-gradient(
      circle at 5% 90%,
      hsla(229, 71%, 68%, 1) 13%,
      transparent 65%
    ),
    radial-gradient(
      circle at 57% 73%,
      hsla(308, 93%, 51%, 1) 3%,
      transparent 89%
    ),
    radial-gradient(
      circle at 20% 4%,
      hsla(318, 60%, 76%, 1) 22%,
      transparent 56%
    ),
    radial-gradient(
      circle at 74% 15%,
      hsla(324, 92%, 59%, 1) 13%,
      transparent 57%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  z-index: 2;
}

.send_transfer_ui_icon {
  position: absolute;
  z-index: 7;
  right: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}

.avatar_box {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.avatar {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: inherit;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 4px;
}

.avatar_box:first-child {
  top: 70px;
  right: 50%;
  width: 80px;
  height: 80px;
}

.avatar_box:nth-child(2) {
  bottom: 105px;
  right: 30px;
  z-index: 1;
}

.avatar_box:nth-child(3) {
  bottom: 50px;
  left: 100px;
  z-index: 1;
  width: 70px;
  height: 70px;
}

.avatar_box:nth-child(4) {
  top: 20px;
  right: 100px;
  height: 80px;
  width: 80px;
  background-color: var(--mantine-color-blue-3);
}

.avatar_box:nth-child(4) img {
  background-size: cover;
  background-position: right;
}

.send_transfer_middle {
  position: relative;
  width: 100%;
  height: 100%;
}

.send_transfer_ui_form_wrapper {
  width: 90%;
  height: 80%;
  position: absolute;
  padding-inline: 5px;
  padding-block-start: 5px;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
  backdrop-filter: blur(15px);
}

.send_transfer_ui_form_cont {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
  padding: var(--mantine-spacing-md);
  gap: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
}

.progress {
  width: 25px;
  height: 5px;
  background-color: var(--mantine-color-blue-7);
  border-radius: var(--mantine-radius-xs);
}

.progress:last-child {
  background-color: var(--mantine-color-dark-1);
}

.send_button {
  appearance: none;
  all: unset;
  padding-block: 3px;
  padding-inline: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-blue-9);
  color: white;
  border-radius: var(--mantine-radius-sm);
}

.receive_notification_ui {
  background-color: hsla(117.00000000000004, 40%, 15%, 1);
  background-image: radial-gradient(
      circle at 3% 92%,
      hsla(161, 100%, 50%, 1) 0%,
      transparent 67%
    ),
    radial-gradient(
      circle at 46% 94%,
      hsla(227.6470588235294, 100%, 50%, 1) 0%,
      transparent 81%
    ),
    radial-gradient(
      circle at 93% 95%,
      hsla(230.2941176470588, 100%, 23%, 1) 0%,
      transparent 66%
    ),
    radial-gradient(
      circle at 89% 8%,
      hsla(243.52941176470586, 100%, 9%, 1) 0%,
      transparent 150%
    );
  background-blend-mode: normal, normal, normal, normal;
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.iphone_mockup_wrapper {
  position: absolute;
  top: 160px;
  width: 70%;
  right: 50%;
  transform: translateX(50%);
  z-index: 5;
}

.iphone_mockup_cont {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.receive_notification_ui_title {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: hsla(333, 0%, 100%, 1);
  background-image: radial-gradient(
      circle at 0% 0%,
      hsla(64, 82%, 77%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 20% 0%,
      hsla(5, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 40% 0%,
      hsla(315, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 60% 0%,
      hsla(256, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 0%,
      hsla(191, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 0%,
      hsla(152, 77%, 74%, 0.35) 3%,
      transparent 40%
    );
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  z-index: 1;
}

.receive_notification_alert_card {
  position: absolute;
  z-index: 6;
  top: 20%;
  right: 50%;
  transform: translateX(50%);
  /* max-width: 450px; */
  width: 450px;
  height: 70px;
  background-color: var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs);
  display: flex;
  align-items: center;
  
}

