.send_transfer_ui_wrapper {
  background-color: rgb(255, 255, 254);
  background-image: radial-gradient(
      circle at 92% 93%,
      hsla(190, 56%, 91%, 0.53) 11%,
      transparent 79%
    ),
    radial-gradient(
      circle at 24% 86%,
      hsla(13, 52%, 90%, 1) 16%,
      transparent 83%
    ),
    radial-gradient(
      circle at 11% 94%,
      hsla(43, 55%, 90%, 1) 16%,
      transparent 51%
    ),
    radial-gradient(
      circle at 36% 38%,
      hsla(81, 82%, 98%, 1) 3%,
      transparent 59%
    ),
    radial-gradient(
      circle at 44% 9%,
      hsla(252.79411764705875, 81%, 51%, 0.48) 13%,
      transparent 83%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  overflow: hidden;
  position: relative;
  border-radius: var(--mantine-radius-md);
}

.send_transfer_intro {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send_transfer_ui_title {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: hsla(197, 92%, 60%, 1);
  background-image: radial-gradient(
      circle at 96% 96%,
      hsla(55.36363636363636, 93%, 54%, 0.85) 5%,
      transparent 86%
    ),
    radial-gradient(
      circle at 5% 90%,
      hsla(229, 71%, 68%, 1) 13%,
      transparent 65%
    ),
    radial-gradient(
      circle at 57% 73%,
      hsla(308, 93%, 51%, 1) 3%,
      transparent 89%
    ),
    radial-gradient(
      circle at 20% 4%,
      hsla(318, 60%, 76%, 1) 22%,
      transparent 56%
    ),
    radial-gradient(
      circle at 74% 15%,
      hsla(324, 92%, 59%, 1) 13%,
      transparent 57%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  z-index: 2;
}

.send_transfer_ui_icon {
  position: absolute;
  z-index: 7;
  right: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}

.receive_request_link_ui {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      circle at 32% 16%,
      hsla(14.000000000000004, 100%, 64%, 0.33) 17.647148063137625%,
      transparent 61.5109675345299%
    ),
    radial-gradient(
      circle at 75% 1%,
      hsla(247.99999999999997, 100%, 63%, 0.3) 11.26645584295136%,
      transparent 63.69587993071477%
    );
  background-blend-mode: multiply, multiply;
  border: thin solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.receive_configurations {
  background-color: hsla(165, 0%, 100%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 962 962' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at 0% 0%,
      hsla(256, 82%, 77%, 0.35) 3.1210986267166043%,
      transparent 70%
    ),
    radial-gradient(
      circle at 20% 0%,
      hsla(197, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 70%
    ),
    radial-gradient(
      circle at 40% 0%,
      hsla(147, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 60% 0%,
      hsla(88, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 0%,
      hsla(23, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 0%,
      hsla(234.26470588235304, 100%, 50%, 0.35) 3%,
      transparent 40%
    );
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
  box-shadow: var(--mantine-shadow-xs);
  overflow: hidden;
}

.send_transfer {
  background-color: hsla(259.4117647058824, 100%, 63%, 1);
  background-image: radial-gradient(
      circle at 15% 85%,
      hsla(318, 80%, 97%, 1) 19%,
      transparent 84%
    ),
    radial-gradient(
      circle at 31% 1%,
      hsla(161.47058823529412, 99%, 84%, 1) 12%,
      transparent 85%
    ),
    radial-gradient(
      circle at 88% 87%,
      hsla(163, 90%, 78%, 1) 3.6400864520532363%,
      transparent 75.20902830975928%
    ),
    radial-gradient(
      circle at 30% 27%,
      hsla(314, 91%, 59%, 1) 14%,
      transparent 90%
    );
  background-blend-mode: normal, normal, normal, normal;
}

.send_configuration_card_outer,
.receive_ui_browser {
  width: 100%;
  border: thin solid rgb(247, 247, 247);
  border-radius: var(--mantine-radius-md);
  backdrop-filter: blur(6px);
  background-color: rgba(95, 95, 95, 0.062);
  padding: 4px;
  /* box-shadow: var(--mantine-shadow-xs); */
}

.send_configuration_card_inner {
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs);
  box-shadow: var(--mantine-shadow-xs);
  display: flex;
  justify-content: space-between;
}

.receive_ui_browser {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  height: 100%;
}

.receive_ui_browser_inner {
  border-radius: var(--mantine-radius-md);
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    
}
