.custom_node {
    padding-block: var(--mantine-spacing-xs);
    border: thin solid var(--mantine-color-default-border);
    width: 100px;
    /* height: 30px; */
    border-radius: var(--mantine-radius-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customcontainer{
    min-width: 150px;
    width: 100%;
    border: thin solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-sm);
    box-shadow: var(--mantine-shadow-sm);
    /* background-color: var(--mantine-color-body); */
}

.splitter_node {
    display: flex;
    justify-content: space-between;
    border: thin solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-sm);
    position: relative;
    min-width: 100px;
    /* height: 100px; */
    align-items: center;
}



.splitter_node_handles {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
gap: 10px;
    height: 100%;
}


 .react-flow__handle {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: thin solid  var(--mantine-color-default-border);
    background-color: var(--mantine-color-gray-7);
    z-index: -1;
    transition: border-radius 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }


  .react-flow__handle:hover {
    border-radius: 30%;
  }
  
  .react-flow__handle-top {
    top: -10px;
  }
  
  .react-flow__handle-bottom {
    bottom: -10px;
  }
  
  .split_node_input_wrapper {
    display: flex;
    position: relative;

    /* padding-inline: var(--mantine-spacing-xs); */
  }

  .split_node_input_container {
    display: flex;
    gap: var(--mantine-spacing-xs);
    align-items: center;
    padding-block: 2px;
    padding-inline: var(--mantine-spacing-xs);
    transition: visibility 2s ease-in-out 3s linear;

  }

  .split_node_input_delete {
    visibility: hidden;
  }

  .split_node_input_container:hover{

  }

.split_node_input_container:hover  .split_node_input_delete{
    
visibility: visible;
justify-content: center;
align-items: center;
transition: visibility 400ms ease-in-out 1s linear;

}

  .split_node_input_box{
    display: flex;
    flex-grow: 0;
    align-items: center;
    gap: var(--mantine-spacing-xs);
    /* padding: 2px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;     */
  }

  .split_node_input_wrapper:hover  {
    background-color: var(--mantine-color-dark-7);
  }


  .split_type {
    background-color: var(--mantine-color-dark-6);
    display: flex;
    justify-content: center;
    padding: 4px;
  }