.outer_frame {
  position: relative;
  height: 520px;
  border-radius: 50px;
  border: 5px solid transparent;
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(90deg, #434343, #2c2c2c) border-box; 
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
     0 6px 20px rgba(0, 0, 0, 0.1); 
width: 100%;
pointer-events: all;
}

.outer_frame::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50px;
  border: 3px groove #434343; /* Dark metallic color */
  pointer-events: none;
}

.inner_frame {
  border: 3px solid black;
  border-radius: 46px;
  height: 100%;
  padding: 1px;
}

.screen {
  background-color: white;
  height: 100%;
  border-radius: 42px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.screen_elements {
  position: absolute;
  inset: 0;
  padding: var(--mantine-spacing-sm);
  z-index: 2;
  pointer-events: none;
}

.screen_content {
  width: 100%;
  padding-top: 50px;
  padding-inline: var(--mantine-spacing-sm);
  user-select: none;
}

.dynamic_island {
  width: 30%;
  height: 32px;
  border-radius: 70px;
  background-color: var(--mantine-color-black);
}
